/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# ¯\_(ツ)_/¯ - have no clue where these where come from
/.clj-kondo
/.lsp

# Idea files
/.idea
/*.iml
